{% extends "base_profile.html" %}
{% block content %}
<div class="container">
    <h2>Upcoming Flights for {{ airline_name }}</h2>
    {% if flights %}
        <table class="table">
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Tickets Sold</th>
                </tr>
            </thead>
            <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight.flight_num }}</td>
                    <td>{{ flight.departure_airport }}</td>
                    <td>{{ flight.arrival_airport }}</td>
                    <td>{{ flight.departure_time }}</td>
                    <td>{{ flight.arrival_time }}</td>
                    <td>{{ flight.num_tickets }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No flights are scheduled for the next 30 days.</p>
    {% endif %}
</div>
{% endblock %}