{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center border-bottom pb-3">Customer Registration</h3>
                    <form class="row g-3" method="POST" action="">
                        {{ form.hidden_tag() }}
                        <!-- Macros makes life 10x easier :O -->
                        {% macro render_field(field) %}
                        <div class="col-md-6">
                            <label class="form-label">{{ field.label(class="form-control-label") }}</label>
                            {{ field(class="form-control" + (" is-invalid" if field.errors else "")) }}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endmacro %}
                        {{ render_field(form.email) }}
                        {{ render_field(form.name) }}
                        {{ render_field(form.date_of_birth) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.building_number) }}
                        {{ render_field(form.street) }}
                        {{ render_field(form.city) }}
                        {{ render_field(form.state) }}
                        {{ render_field(form.phone_number) }}
                        {{ render_field(form.passport_number) }}
                        {{ render_field(form.passport_expiration) }}
                        {{ render_field(form.passport_country) }}
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
