{% extends "base.html" %}
{% block content %}

{% macro render_field(field) %}
<div class="col-md-6">
    <label class="form-label">{{ field.label }}</label>
    {{ field(class="form-control" + (" is-invalid" if field.errors else "")) }}
    {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
{% endmacro %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center border-bottom pb-3">{{ title }}</h3>
                    <form method="POST" action="" class="row g-3">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.first_name) }}
                        {{ render_field(form.last_name) }}
                        {{ render_field(form.date_of_birth) }}
                        {{ render_field(form.username) }}
                        {{ render_field(form.password) }}
                        {{ render_field(form.airline_name) }}
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

