{% extends "base_profile.html" %}


{% block content %}
<div class="container mt-5">
    <h2>Admin Dashboard</h2>

    <!-- Create Flight Form -->
    <div class="card my-3">
        <div class="card-header">
            Create a New Flight
        </div>
        <div class="card-body">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.flight_num.label }}
                    {{ form.flight_num(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.departure_airport.label }}
                    {{ form.departure_airport(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.departure_time.label }}
                    {{ form.departure_time(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.arrival_airport.label }}
                    {{ form.arrival_airport(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.arrival_time.label }}
                    {{ form.arrival_time(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}
                    {{ form.price(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.status.label }}
                    {{ form.status(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.airplane_id.label }}
                    {{ form.airplane_id(class='form-control') }}
                </div>
                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
            </form>
        </div>
    </div>

   
</div>

<!-- Data validation for time as well -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
flatpickr("#departure_time", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
});
flatpickr("#arrival_time", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
});
</script>

{% endblock content %}
