{% extends "base_profile.html" %}
{% block content %}

<h2>Frequent Customers</h2>
<table>
    <thead>
        <tr>
            <th>Customer Email</th>
            <th>Tickets Purchased</th>
            <th>View Details</th>
        </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
        <tr>
            <td>{{ customer.customer_email }}</td>
            <td>{{ customer.num_tickets }}</td>
            <td><a href="{{ url_for('staff.view_customer_tickets', customer_email=customer.customer_email) }}">View Tickets</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
