{% extends "base_profile.html" %}
{% block content %}
<div class="container">
    <h2> {{airline}} Tickets Purchased by {{ customer_email }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.flight_num }}</td>
                <td>{{ ticket.departure_airport }}</td>
                <td>{{ ticket.arrival_airport }}</td>
                <td>{{ ticket.departure_time  }}</td>
                <td>{{ ticket.arrival_time  }}</td>
                <td>${{ "%.2f"|format(ticket.price) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No tickets found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
